$REM: 18;
$w-mobile: 375px;
$w-desktop: 1440px;

$font-dm-sans: "DM Sans", sans-serif;

$colors: (
  soft-red: hsl(10, 79%, 65%),
  cyan: hsl(186, 34%, 60%),
  powder-blue: hsl(186, 49%, 80%),
  dark-brown: hsl(25, 47%, 15%),
  medium-brown: hsl(28, 10%, 53%),
  cream: hsl(27, 66%, 92%),
  very-pale-orange: hsl(33, 100%, 98%),
  card-white: hsl(30, 100%, 98%),
);
