@use "./utilities/global" as *;

.chart {
  display: grid;
  grid-template: 150px min-content / repeat(7, 1fr);
  column-gap: rem(12px);
  row-gap: fluid(rem(11px), rem(8px));
  justify-content: center;
  align-items: flex-end;
  padding-bottom: fluid(rem(24px), rem(32px));
  border-bottom: 2px solid color(cream);
  margin-bottom: fluid(rem(24px), rem(32px));
}

.day {
  font-size: fluid(rem(12px), rem(15px));
  line-height: fluid(16px, 20px);
  font-weight: 400;
  color: color(medium-brown);
  text-align: center;
}
