@use "utilities/global" as *;

.bar {
  background-color: color(soft-red);
  border-radius: fluid(3px, 5px);
  position: relative;
  display: flex;
  justify-content: center;
  &:hover,
  &:focus {
    background-color: hsl(10, 100%, 76%);
    outline: none;
  }
}

.today {
  composes: bar;
  background-color: color(cyan);
  &:hover,
  &:focus {
    background-color: color(powder-blue);
  }
}

.tooltip {
  font-size: fluid(rem(15px), rem(18px));
  line-height: fluid(20px, 23px);
  font-weight: 700;
  background-color: color(dark-brown);
  border-radius: fluid(3px, 5px);
  padding: fluid(rem(5px), rem(8px));
  color: color(card-white);
  position: absolute;
  top: fluid(rem(-35px), rem(-47px));
}
