@use "utilities/global" as *;

@include setup;

body {
  background-color: color(cream);
  font-family: $font-dm-sans;
  padding-inline: rem(16px);
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

abbr {
  text-decoration: none;
}
