@use "./utilities/global" as *;

.container {
  background-color: color(card-white);
  padding-top: fluid(rem(24px), rem(32px));
  padding-inline: fluid(rem(20px), rem(40px));
  padding-bottom: fluid(rem(24px), rem(40px));
  border-radius: fluid(10px, 20px);
}

.title {
  font-size: fluid(rem(24px), rem(32px));
  line-height: fluid(31px, 42px);
  font-weight: 700;
  color: color(dark-brown);
  margin-bottom: fluid(rem(52px), rem(66px));
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.caption {
  font-size: fluid(rem(15px), rem(18px));
  line-height: fluid(20px, 23px);
  font-weight: 400;
  color: color(medium-brown);
}

.total {
  font-size: fluid(rem(30px), rem(48px));
  line-height: fluid(39px, 62px);
  font-weight: 700;
  color: color(dark-brown);
  margin-top: fluid(rem(4px), rem(1px));
  text-align: left;
}

.percentage {
  font-size: fluid(rem(15px), rem(18px));
  line-height: fluid(20px, 23px);
  font-weight: 700;
  text-align: right;
}
